<div id="<%= dom_id rent %>">
  <p>
    <strong>Name:</strong>
    <%= rent.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= rent.age %>
  </p>

  <p>
    <strong>Devolution-date:</strong>
    <%= rent.devolution-date %>
  </p>

</div>
